<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="hainan.js"></script>
</head>
<body>
    <div id="chart_map" style="width:600px;height:400px;border: 1px solid red"></div>
    <button onclick="Click()">点击</button>
    <script>
        let mCharts = echarts.init(document.getElementById('chart_map'))
        let airData = [
        { name: '海口市', value: 17915815},
        { name: '三亚市', value: 6954120},
        { name: '三沙市', value: 151151},
        { name: '儋州市', value: 3594060},
        { name: '五指山市', value: 340518},
        { name: '琼海市', value: 2920957},
        { name: '文昌市', value: 2635012},
        { name: '万宁市', value: 2374047},
        { name: '东方市', value: 1865010},
        { name: '定安县', value: 1058763},
        { name: '屯昌县', value: 889851},
        { name: '澄迈县', value: 348365},
        { name: '临高县', value: 2042233},
        { name: '白沙黎族自治县', value: 568498},
        { name: '昌江黎族自治县', value: 1241180},
        { name: '乐东黎族自治县', value: 1511114},
        { name: '陵水黎族自治县', value: 1955172},
        { name: '保亭黎族苗族自治县', value: 562728},
        { name: '琼中黎族苗族自治县', value: 590073}
    ]
        $.get('hainan.json',function (ret) {
            console.log(ret)
            echarts.registerMap('hainan', ret)
            let option = {
                tooltip: {           //提示框组件
                    trigger: 'item',
                    formatter:'{b} <br/> ',  //{c@[2]}
                    show:false
                },
                visualMap: {
                        min: 0,
                        max: 20000000,
                        inRange: {
                            color: ['white', 'red']
                        }
                },
                geo: {
                    type: 'map',
                    map: 'hainan',
                    label: {
                        show: true
                    },
                    roam: true,
                    scaleLimit: {
                        min: 8,
                        max: 12
                    },
                    center: [109.839996, 19.03557]
                },
                series: [
                        {
                            data: airData,
                            geoIndex: 0,
                            type: 'map',
                            label: {
                                normal: {
                                    formatter: '{b}:{@2}',
                                    position: 'right',
                                    show: false
                                },
                                emphasis: {
                                    show: true
                                }
                            }
                        }
                ]
            }
            mCharts.setOption(option);
    })
        function Click() {
            $.ajax({
                url:"http://data.hainan.gov.cn//api/invoke/1828341116a34865ac2a6267a98a6664?BGQ=20100000&authToken=b003ca05f3e6a60fbdda7f4d8ad04c6c",    //请求的url地址
                contentType: 'application/x-www-form-urlencoded',
                dataType:"json",   //返回格式为json
                async:true,        //请求是否异步，默认为异步，这也是ajax重要特性
                type: "POST",
                success:function(req){
                    console.log(req)
                    //请求成功
                }
            });
        }
    </script>
</body>
</html>